body {
  background-image: url('main.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#main_page {

  .page-header {
    border: none;
    h1 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      margin-top: 300px;
    }

    h3 {
      color: #fff;
      text-align: center;
      font-size: 20px;
      margin-top: 40px;
    }
  }

    .logo {
      margin-top: 40px;
    }

  .fa {
    font-size: 30px;
    color: #fff;
    margin-top:-40px;
  }

  .search {
    margin-top: -5px;
    h3 {
      display: inline;
      font-size: 20px;
      margin-left: 20px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .button {
    margin-top: 40px;
  }

  .block {
    width: 100px;
    float: right;
    position: absolute;
    background: #D82C42;
    height: 100vh;
    right:0;
    top:0;
  }

  .menu {
    margin-top: 15px;
    p {
      color:#fff;
      margin-top: 10px;
    }
  }

  .menu-left {
    margin-top: 40px;
    p {
      color:#fff;
      margin-top: 10px;
    }
  }

  .block-left {
    .text-left {
      margin-left: 35px;
    }
  }

  .block-first {
    margin-top: 80px;
  }

  .first {
    margin-top: 20px;
  }

  .second {
    margin-top: 60px;
    &:before{
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 1px;
      margin-left: -50px;
    }
  }

  .exit {
    margin-top: 40px;
    margin-left: 35px;
  }

  .block-left {
    width: 170px;
    float: right;
    position: absolute;
    background: rgba(49, 60, 129, 0.94);
    height: 100vh;
    left:0;
    top:0;
  }


}