body {
  background-image: url("main.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

#main_page .page-header {
  border: none; }
  #main_page .page-header h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 300px; }
  #main_page .page-header h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 40px; }
#main_page .logo {
  margin-top: 40px; }
#main_page .fa {
  font-size: 30px;
  color: #fff;
  margin-top: -40px; }
#main_page .search {
  margin-top: -5px; }
  #main_page .search h3 {
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase; }
#main_page .button {
  margin-top: 40px; }
#main_page .block {
  width: 100px;
  float: right;
  position: absolute;
  background: #D82C42;
  height: 100vh;
  right: 0;
  top: 0; }
#main_page .menu {
  margin-top: 15px; }
  #main_page .menu p {
    color: #fff;
    margin-top: 10px; }
#main_page .menu-left {
  margin-top: 40px; }
  #main_page .menu-left p {
    color: #fff;
    margin-top: 10px; }
#main_page .block-left .text-left {
  margin-left: 35px; }
#main_page .block-first {
  margin-top: 80px; }
#main_page .first {
  margin-top: 20px; }
#main_page .second {
  margin-top: 60px; }
  #main_page .second:before {
    content: '';
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    margin-left: -50px; }
#main_page .exit {
  margin-top: 40px;
  margin-left: 35px; }
#main_page .block-left {
  width: 170px;
  float: right;
  position: absolute;
  background: rgba(49, 60, 129, 0.94);
  height: 100vh;
  left: 0;
  top: 0; }

/*# sourceMappingURL=main_page.css.map */
