#page1 {

  h2 {
    font-size: 30px;
    color: #000;
  }

  h1 {
    font-size: 60px;
    color: #000;
  }

  h3 {
    color: #000;
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .head-page {
    background: url('page1_1.png');
    background-repeat: no-repeat;
    height: 700px;
    background-size: 100%;
  }

  .page-header {
    border: none;
    h1 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      margin-top: 300px;
    }

    h2 {
      font-size: 30px;
      color: #fff;
      margin-top: 40px;
    }

    h3 {
      color: #fff;
      text-align: center;
      font-size: 20px;
      margin-top: 40px;
    }
  }

  .logo {
    margin-top: 40px;
  }

  .fa {
    font-size: 30px;
    color: #fff;
    margin-top:-40px;
  }

  .search {
    margin-top: -5px;
    h3 {
      display: inline;
      font-size: 20px;
      margin-left: 20px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .button {
    margin-top: 40px;
  }

  .block {
    width: 100px;
    float: right;
    position: absolute;
    background: #D82C42;
    height: 100vh;
    right:0;
    top:0;
  }

  .menu {
    margin-top: 15px;
    p {
      color:#fff;
      margin-top: 10px;
    }
  }

  .menu-left {
    margin-top: 40px;
    p {
      color:#fff;
      margin-top: 10px;
    }
  }

  .block-left {
    .text-left {
      margin-left: 35px;
    }
  }

  .block-first {
    margin-top: 80px;
  }

  .first {
    margin-top: 20px;
  }

  .second {
    margin-top: 60px;
    &:before{
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 1px;
      margin-left: -50px;
    }
  }

  .exit {
    margin-top: 40px;
    margin-left: 35px;
  }

  .block-left {
    width: 170px;
    float: right;
    position: absolute;
    background: rgba(49, 60, 129, 0.94);
    height: 100vh;
    left:0;
    top:0;
  }

  .titletext {
    margin-top: 60px;
  }

  .after {
    margin-bottom: 30px;
    margin-top: 30px;
    &:after {
      display: block;
      content: '';
      height: 2px;
      width: 100px;
      background: #313c81;
    }
  }

  .lists {
    ul {
      font-size: 18px;
      margin-left:-45px;
    }
    li {
      font-size: 18px;
      margin-left: 15px;
    }
  }

  .file {
    background: url('page1_3.png');
    background-repeat: no-repeat;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 40px;
    p {
      font-size: 18px;
      color: #000;
    }
    span {
      font-size: 18px;
      color: #D82C42;
    }

    .text {
      margin-top: 15px;
    }

    &:hover{
      background: url('page1_2.png');
      background-repeat: no-repeat;
      span {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
  }

  .staff {
    background: #ebebeb;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .prezes {
    margin-top: 40px;
  }

  .footer {
    background: #2a347c;
    p {
      color: #fff;
    }
  }

  .info-footer {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .lowp {
    p {
      font-size: 14px;
    }
  }

  .after-footer {
    margin-bottom: 30px;
    &:after{
      background: #959abe;
      width: 1155px;
      height: 1px;
      content: '';
      display: block;
      margin-top: 130px;
    }
  }
}