#page2 {
  background-color: #ebebeb; }
  #page2 h2 {
    font-size: 30px;
    color: #000; }
  #page2 h1 {
    font-size: 60px;
    color: #000; }
  #page2 h3 {
    color: #000;
    font-size: 20px; }
  #page2 p {
    font-size: 18px; }
  #page2 .head-page {
    background: url("page2_1.png");
    background-repeat: no-repeat;
    height: 700px;
    background-size: 100%; }
  #page2 .page-header {
    border: none; }
    #page2 .page-header h1 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      margin-top: 300px; }
    #page2 .page-header h2 {
      font-size: 30px;
      color: #fff;
      margin-top: 40px; }
    #page2 .page-header h3 {
      color: #fff;
      text-align: center;
      font-size: 20px;
      margin-top: 40px; }
  #page2 .logo {
    margin-top: 40px; }
  #page2 .fa {
    font-size: 30px;
    color: #fff;
    margin-top: -40px; }
  #page2 .search {
    margin-top: -5px; }
    #page2 .search h3 {
      display: inline;
      font-size: 20px;
      margin-left: 20px;
      color: #fff;
      text-transform: uppercase; }
  #page2 .button {
    margin-top: 40px; }
  #page2 .block {
    width: 100px;
    float: right;
    position: absolute;
    background: #D82C42;
    height: 100vh;
    right: 0;
    top: 0; }
  #page2 .menu {
    margin-top: 15px; }
    #page2 .menu p {
      color: #fff;
      margin-top: 10px; }
  #page2 .menu-left {
    margin-top: 40px; }
    #page2 .menu-left p {
      color: #fff;
      margin-top: 10px; }
  #page2 .block-left .text-left {
    margin-left: 35px; }
  #page2 .block-first {
    margin-top: 80px; }
  #page2 .first {
    margin-top: 20px; }
  #page2 .second {
    margin-top: 60px; }
    #page2 .second:before {
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 1px;
      margin-left: -50px; }
  #page2 .exit {
    margin-top: 40px;
    margin-left: 35px; }
  #page2 .block-left {
    width: 170px;
    float: right;
    position: absolute;
    background: rgba(49, 60, 129, 0.94);
    height: 100vh;
    left: 0;
    top: 0; }
  #page2 .prize {
    margin-bottom: 40px; }
  #page2 .prizes {
    margin-top: 40px; }
    #page2 .prizes span {
      color: #D82C42; }
  #page2 .footer {
    background: #2a347c; }
    #page2 .footer p {
      color: #fff; }
  #page2 .info-footer {
    margin-top: 40px;
    margin-bottom: 80px; }
  #page2 .lowp p {
    font-size: 14px; }
  #page2 .after-footer {
    margin-bottom: 30px; }
    #page2 .after-footer:after {
      background: #959abe;
      width: 1155px;
      height: 1px;
      content: '';
      display: block;
      margin-top: 130px; }

/*# sourceMappingURL=page2.css.map */
