#page1 h2 {
  font-size: 30px;
  color: #000; }
#page1 h1 {
  font-size: 60px;
  color: #000; }
#page1 h3 {
  color: #000;
  font-size: 20px; }
#page1 p {
  font-size: 18px; }
#page1 .head-page {
  background: url("page1_1.png");
  background-repeat: no-repeat;
  height: 700px;
  background-size: 100%; }
#page1 .page-header {
  border: none; }
  #page1 .page-header h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 300px; }
  #page1 .page-header h2 {
    font-size: 30px;
    color: #fff;
    margin-top: 40px; }
  #page1 .page-header h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 40px; }
#page1 .logo {
  margin-top: 40px; }
#page1 .fa {
  font-size: 30px;
  color: #fff;
  margin-top: -40px; }
#page1 .search {
  margin-top: -5px; }
  #page1 .search h3 {
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase; }
#page1 .button {
  margin-top: 40px; }
#page1 .block {
  width: 100px;
  float: right;
  position: absolute;
  background: #D82C42;
  height: 100vh;
  right: 0;
  top: 0; }
#page1 .menu {
  margin-top: 15px; }
  #page1 .menu p {
    color: #fff;
    margin-top: 10px; }
#page1 .menu-left {
  margin-top: 40px; }
  #page1 .menu-left p {
    color: #fff;
    margin-top: 10px; }
#page1 .block-left .text-left {
  margin-left: 35px; }
#page1 .block-first {
  margin-top: 80px; }
#page1 .first {
  margin-top: 20px; }
#page1 .second {
  margin-top: 60px; }
  #page1 .second:before {
    content: '';
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    margin-left: -50px; }
#page1 .exit {
  margin-top: 40px;
  margin-left: 35px; }
#page1 .block-left {
  width: 170px;
  float: right;
  position: absolute;
  background: rgba(49, 60, 129, 0.94);
  height: 100vh;
  left: 0;
  top: 0; }
#page1 .titletext {
  margin-top: 60px; }
#page1 .after {
  margin-bottom: 30px;
  margin-top: 30px; }
  #page1 .after:after {
    display: block;
    content: '';
    height: 2px;
    width: 100px;
    background: #313c81; }
#page1 .lists ul {
  font-size: 18px;
  margin-left: -45px; }
#page1 .lists li {
  font-size: 18px;
  margin-left: 15px; }
#page1 .file {
  background: url("page1_3.png");
  background-repeat: no-repeat;
  height: 120px;
  margin-bottom: 30px;
  margin-top: 40px; }
  #page1 .file p {
    font-size: 18px;
    color: #000; }
  #page1 .file span {
    font-size: 18px;
    color: #D82C42; }
  #page1 .file .text {
    margin-top: 15px; }
  #page1 .file:hover {
    background: url("page1_2.png");
    background-repeat: no-repeat; }
    #page1 .file:hover span {
      color: #fff; }
    #page1 .file:hover p {
      color: #fff; }
#page1 .staff {
  background: #ebebeb;
  margin-top: 40px;
  padding-bottom: 40px; }
#page1 .prezes {
  margin-top: 40px; }
#page1 .footer {
  background: #2a347c; }
  #page1 .footer p {
    color: #fff; }
#page1 .info-footer {
  margin-top: 40px;
  margin-bottom: 80px; }
#page1 .lowp p {
  font-size: 14px; }
#page1 .after-footer {
  margin-bottom: 30px; }
  #page1 .after-footer:after {
    background: #959abe;
    width: 1155px;
    height: 1px;
    content: '';
    display: block;
    margin-top: 130px; }

/*# sourceMappingURL=page1.css.map */
